body {
  letter-spacing: 0.2;
  box-sizing: border-box;
}
/* [Style for Calculator */
.calculator-app {
  margin: auto;
  text-align: center;
  border-radius: 8px;
  padding-bottom: 50px;
  background: linear-gradient(rgb(203, 190, 190), rgb(62, 59, 59));
  width: 400px;
}
/* Style for Header */
h1 {
  font-size: 40px;
  padding-top: 20px;
}
/* Sytle for Input */
.number-input {
  display: block;
  margin: auto;
  width: 275px;
  height: 50px;
  border: none;
  border-radius: 10px;
  outline: none;
  padding: 0 15px;
  font-size: 30px;
  font-weight: bold;
  -moz-appearance: textfield;
}
/* To handle browser styling  */
.number-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Style for Number Container */
.num-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  width: 300px;
  height: 400px;
  align-self: center;
  justify-content: center;
  margin: auto;
  gap: 5px;
}
/* Style for Operator buttons */
/* Style for Special btn (+,-,/,*) */
.operator-btn {
  background-color: rgba(62, 59, 59, 0.637) !important;
  color: white !important;
}
/* style for Operator Hover */
.operator-btn:hover {
  background-color: rgba(62, 59, 59, 0.737) !important;
}
/* style for Operator Active */
.operator-btn:active {
  background-color: rgba(62, 59, 59, 0.85) !important;
}
/* style for Calculator Buttons */
.num {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  pointer-events: visible;
  border-radius: 10px;
  border: none;
  background-color: aliceblue;
  color: rgba(0, 0, 0, 0.656);
}
/* style for Calculator keys */
.num:hover {
  color: rgb(44, 44, 46);
}
/* style for Calculator Buttons when its active*/
.num:active {
  color: black;
  background-color: rgb(235, 235, 253);
}
/* Styling the "=" Operator with Grid to make it standout */
.num:nth-of-type(17) {
  grid-column: 4/4;
  grid-row: 2/6;
  grid-area: "footer";
}
